:root {
   --button-size: 6vw; 
   --half-button-size: calc(var(--button-size) / 2);
   --color-push: #379D1F;
   --color-pull: #ADEE50;
}

.row {
   display: flex;
   flex-direction: row;
}

.button {
   display: flex;
   flex-direction: column;
   margin: 0.3vw;
   width: var(--button-size); 
   border: 1px solid rgb(226, 48, 48);
   border: none;
}

.push, .pull {
   text-align: center;
   vertical-align: middle;
   line-height: var(--half-button-size);
   height: var(--half-button-size);
   width: var(--button-size); 
   border: 1px solid black;
}

.push {
   background: var(--color-push);
}

.pull {
   background: var(--color-pull);
}

.number {
   text-align: left;
}

.hidden {
   background-color: white;
   color: white;
}

.keyboard {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
}

.ppbutton, hr {
   cursor: pointer;
   color: black !important;
   border-radius: 5px;
   width: calc(1.5 * var(--button-size));
   position: relative;
}

.settingbtn {
   width: var(--half-button-size);
   height: var(--half-button-size);
   display: flex;
}

#ppdiv {
   display: flex;
   flex-direction: column;
   height: calc(2.5 * var(--half-button-size));
}

hr { 
   position: relative;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: auto;
   margin-right: auto;
   border-style: inset;
   border-width: 1px;
 }

 .top {
   border-top-left-radius: var(--button-size);
   border-top-right-radius: var(--button-size);
 }

 .bottom {
   border-bottom-left-radius: var(--button-size);
   border-bottom-right-radius: var(--button-size);
 }

 .left {
  border-top-left-radius: var(--button-size);
  border-bottom-left-radius: var(--button-size);
 }

 .right {
   border-top-right-radius: var(--button-size);
   border-bottom-right-radius: var(--button-size);
 }

