:root {
   --button-size: 7vw; 
   --half-button-size: calc(var(--button-size) / 2);
   --color-push: #379D1F;
   --color-pull: #ADEE50;
}

object {
   height: var(--button-size);
}

.row {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.row-with-space {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap : wrap
}

.button {
   display: flex;
   flex-direction: column;
   margin: 0.3vw;
   width: var(--button-size); 
   border: none;
}

.push, .pull {
   text-align: center;
   vertical-align: middle;
   border: 1px solid black;
}

.push {
   background: var(--color-push);
}

.pull {
   background: var(--color-pull);
}

.number {
   text-align: left;
}

.hidden {
   background-color: white;
   color: white;
}

.keyboard {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
}

.ppbutton {
   cursor: pointer;
}

#ppdiv {
   display: flex;
   flex-direction: column;
}

 .top {
   border-top-left-radius: var(--button-size);
   border-top-right-radius: var(--button-size);
   height: var(--half-button-size);
   width: var(--button-size); 
   line-height: var(--half-button-size);
 }

 .bottom {
   border-bottom-left-radius: var(--button-size);
   border-bottom-right-radius: var(--button-size);
   height: var(--half-button-size);
   width: var(--button-size); 
   line-height: var(--half-button-size);
 }

 .left {
  border-top-left-radius: var(--button-size);
  border-bottom-left-radius: var(--button-size);
  height: var(--button-size);
  width: var(--half-button-size); 
  line-height: var(--button-size);
 }

 .right {
   border-top-right-radius: var(--button-size);
   border-bottom-right-radius: var(--button-size);
   height: var(--button-size);
   width: var(--half-button-size); 
   line-height: var(--button-size);
 }

 rect {
   cursor: pointer;
   fill: blue;
 }
 
 .tabcontent {
   display: none;
   /*padding: 6px 12px;*/
   border: 1px solid #0f0f0f;
   border-top: none;
 }

 .tabbttn {
   display: flex;
   flex-direction: column;
   width: var(--button-size); 
   border: none;
   background-color: #ffffff;
 }

 .active {
   background-color: #e4e4e4;
 }