:root {
   --button-size: 5vw; 
   --half-button-size: calc(var(--button-size) / 2);
   --color-push: #379D1F;
   --color-pull: #ADEE50;
}

.row {
   margin: 0;
}

.button, .empty, .number {
   display: inline-block;
   position: relative;
   width: var(--button-size); 
   height: var(--button-size);
   border: 1px solid rgb(226, 48, 48);
}

.top, .bottom {
   text-align: center;
   vertical-align: middle;
   line-height: var(--half-button-size);
   position: absolute;
   height: var(--half-button-size);
   width: var(--button-size); 
   border: 1px solid black;
}

.top {
   background: var(--color-push);
   border-top-left-radius: var(--button-size);
   border-top-right-radius: var(--button-size);
}

.bottom {
   background: var(--color-pull);
   border-bottom-left-radius: var(--button-size);
   border-bottom-right-radius: var(--button-size);
   margin-top: var(--half-button-size);
}

.number {
   text-align: left;
}

#keyboard {
   border: 1px solid blue;
}